sqlalchemy==2.0.36
typing_extensions==4.12.2
fastapi==0.115.4
pydantic==2.9.2
starlette==0.41.2
numpy==2.1.2
uvicorn==0.32.0
torch==2.5.0
python-dotenv==1.0.1
matplotlib==3.9.2
pillow==11.0.0
opencv-python
pycocotools
matplotlib
onnxruntime
onnx

git+https://github.com/facebookresearch/segment-anything.git